<suite name="Suite1">
    <test name="AutomationExercises" preserve-order="true">
        <classes >
            <class name="SignupPageTest"/>
            <class name="LoginPageTest"/>
            <class name="ProductsPageTest"/>
            <class name="HomePageTest"/>
            <class name="CartPageTest"/>
        </classes>
    </test>
</suite>
